.header-section {
  height: 100vh;
}

.header-text {
  text-align: center;
  font-size: 2.1rem;
  color: #000000;
}

.overlay-text {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.overlay-text h4 {
  position: absolute;
  margin: 0;
  font-size: 3rem;
  display: inline-block;
}

.header-text p {
  color: #6ea081;
  font-size: 2rem;
  font-weight: 600;
}

.nav-section ul {
  list-style: none;
  margin: 0 10px;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  padding: 50px;
  font-weight: 600;
  cursor: pointer;
}

.nav-section ul li a {
  color: #6ea081;
}

.header-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link {
  position: relative;
  padding: 5px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: transparent;
  transition: background-color 0.3s, transform 0.3s;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-link:hover:before,
.nav-link.active:before {
  background: #62825d;
  transform: scaleX(1);
}

.nav-link:hover {
  color: #62825d;
}
